/* COLOR PALETTE ----------------------------------- */
:root {
    --light-pink: #F0C2DB;
    --hot-pink: #EC008C;
    --white: #FFFFFF;
    --lavender: #6a5acd;
    --light-lavender: #dda0dd;
}

/* GLOBAL STYLES ----------------------------------- */
html {
    box-sizing: border-box;
    font-size: 62.5%; 
    height: 100%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}
canvas {
    pointer-events: auto; 
}

html, body {
    height: 100%; 
    margin: 0;
    display: flex; 
    flex-direction: column; 
    overflow-x: hidden;
}

body {
    background: var(--light-pink);
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
}

#three-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Lower index to push it behind */
    pointer-events: auto; /* Prevent interaction with the 3D canvas */ 
    
}

h1, h2, h3 {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 7rem;
    line-height: 0.85;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.4rem;
}

/* LINKS */
a {
    color: var(--lavender);
}

a:hover {
    color: var(--light-lavender);
    text-decoration: none;
}

footer a {
    color: var(--light-lavender);
}

footer a:hover {
    color: var(--lavender);
}

/* BUTTONS */
.btn {
    background: #e8d7e2;
    color: var(--hot-pink);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1rem;
    line-height: 1;
    border-radius: 4px;
}

/* LAYOUT */
.content-wrapper {
    flex: 1; /* Fill available space */
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
    z-index: 2; 
}

.content-bg {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    display: flex; /* Use Flexbox for alignment */
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center align items horizontally */
}

.hometext {
    color: var(--hot-pink);

}
/* HOME ----------------------------------- */
.home {
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
    flex: 1 0 auto;
}

.io {
    display: flex; /* Align images in a row */
    justify-content: center; /* Center images horizontally */
    gap: 20px; /* Add spacing between images */
    max-width: 100%; /* Prevent the images from exceeding the container */
    flex-wrap: wrap; /* Wrap images if they exceed the width */
}

.io img {
    max-width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevent inline spacing issues */
}




/* CREDIT TO ritesh-03909 on Github----------------------------------- */
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Digital Media Artist";
    color: var(--hot-pink);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid var(--hot-pink);
    }
}

@keyframes words{
    0%, 20%{
        content: "3D Modeler";
    }
    21%, 40%{
        content: "Illustrator";
    }
    41%, 60%{
        content: "Video Editor";
    }
    61%, 80%{
        content: "Graphic Designer";
    }
    81%, 100%{
        content: "Digital Media Artist";
    }
}

@media screen and (max-width: 650px) {
    .home .content-wrapper {
        padding: 10px;
    }

    .content-bg {
        padding: 20px;
    }
}

/* RESUME ----------------------------------- */

 
/* DROPDOWN MENU ----------------------------------- */
.dropbtn {
    background-color: var(--hot-pink);
    color: var(--white);
    padding: 16px;
    font-family: "Zilla Slab", serif;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    right: 0;
}

.dropdown-content a {
    color: var(--hot-pink);
    padding: 12px 16px;
    font-family: "Zilla Slab", serif;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e093bf;
}

/* Resume Sections */
.resume-section {
    margin-bottom: 50px;
}

.resume-section h2 {
    border-bottom: 2px dashed var(--hot-pink);
}


@media screen and (max-width: 1200px) {
    .download-link {
        position: absolute;
    }
}

@media screen and (max-width: 500px) {
    .resume header::before {
        height: 200px;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.6rem;
    }
}

/* PROJECTS ----------------------------------- */
.project-item {
    margin: 30px 0;
}

.project-item img {
    width: 300px;
}

@media screen and (min-width: 860px) {
    .project-item {
        display: flow-root;
    }

    .project-item img {
        float: left;
        margin-right: 20px;
    }
}

@media screen and (min-width: 650px) and (max-width: 859px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .project-item img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .project-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* FOOTER ----------------------------------- */
footer {
    background: var(--hot-pink);
    color: var(--light-pink);
    text-align: center;
    padding: 10px 20px;
    flex-shrink: 0; 
    z-index: 10;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}

@media screen and (min-width: 860px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width: 859px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}
